
Inputs/Desvinculados_2021_2023_FAKE.rds
*.rds
*.pper
.Rhistory
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/F596DFDD/sources/prop/INDEX
.Rproj.user/F596DFDD/sources/prop/C029812B
.Rproj.user/F596DFDD/sources/prop/28139743
.Rproj.user/F596DFDD/saved_source_markers
.Rproj.user/F596DFDD/rmd-outputs
Inputs/20231120_inasistencia_grave_octubre_FAKE_2
*.rds
*.rds
Inputs/retirados_sin_mat_octubre_parv_val_v2.rds
*.png
*.tex
*.pdf
*.csv
